body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5; }

.m-t-1 {
  margin-top: 10px !important; }

.m-t-2 {
  margin-top: 20px !important; }

.m-t-3 {
  margin-top: 30px !important; }

main {
  min-height: 600px; }

.padding-main {
  padding-top: 60px; }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px; }
  header .row {
    display: flex;
    align-items: center; }
  header.back-white {
    background: #fff;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1); }
    header.back-white ul li a {
      color: #31b0d5 !important;
      text-shadow: none !important; }
    header.back-white ul li .btn {
      background: #31b0d5 !important;
      border-color: #31b0d5 !important;
      color: #fff !important; }
  header ul {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none; }
    header ul li {
      margin-right: 20px; }
      header ul li:last-child {
        margin-right: 0px !important; }
      header ul li a {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.3s ease;
        text-decoration: none;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
        header ul li a i {
          margin-right: 6px; }
        header ul li a:hover {
          color: #31b0d5;
          text-decoration: none; }
        header ul li a.btn {
          color: #fff; }

#banner {
  position: relative;
  background-size: cover !important;
  background-position: center center !important;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 800px) {
    #banner {
      background-attachment: fixed !important; } }
  #banner:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
  #banner .row {
    display: flex;
    justify-content: center; }
    #banner .row form {
      margin-bottom: 0px;
      display: flex;
      align-items: center; }
    #banner .row input {
      height: 50px;
      border-radius: 0px;
      border: 0px !important; }
    #banner .row button {
      height: 50px;
      font-weight: bold;
      border-radius: 0px !important;
      cursor: pointer; }
  #banner .content-botao-scroll {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%); }
    #banner .content-botao-scroll .btn-mostra-scroll span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb07 2s infinite;
      animation: sdb07 2s infinite;
      opacity: 0;
      box-sizing: border-box; }
    #banner .content-botao-scroll .btn-mostra-scroll span:nth-of-type(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s; }
    #banner .content-botao-scroll .btn-mostra-scroll span:nth-of-type(2) {
      top: 16px;
      -webkit-animation-delay: .15s;
      animation-delay: .15s; }
    #banner .content-botao-scroll .btn-mostra-scroll span:nth-of-type(3) {
      top: 32px;
      -webkit-animation-delay: .3s;
      animation-delay: .3s; }

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes sdb07 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.content-titulo {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center; }
  .content-titulo:before, .content-titulo:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 3px;
    transform: translateX(-50%); }
  .content-titulo:before {
    width: 100px;
    background: #31b0d5;
    z-index: 1; }
  .content-titulo::after {
    width: 250px;
    background: #0c6782; }
  .content-titulo h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px; }

.padding-section {
  padding-top: 80px; }

.padding-bottom {
  padding-bottom: 80px; }

.rating {
  position: relative;
  border: 1px solid #cecece;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; }
  .rating .profile-top {
    display: flex;
    align-items: center;
    padding: 14px; }
    .rating .profile-top img {
      width: 40px;
      border-radius: 50%;
      margin-right: 10px; }
    .rating .profile-top h4 {
      margin: 0px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px; }
      .rating .profile-top h4 a {
        color: #31b0d5; }
  .rating .back-image {
    overflow: hidden; }
    .rating .back-image img {
      width: 100%;
      transition: all 0.4s ease;
      max-height: 200px;
      object-fit: cover; }
    .rating .back-image:hover img {
      transform: scale(1.2); }
  .rating .content {
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px; }
    .rating .content .name {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 14px;
      border-bottom: 1px solid #cecece; }
    .rating .content .stars-content i {
      color: #cecece;
      font-size: 18px;
      cursor: pointer; }
      .rating .content .stars-content i.active {
        color: yellow; }
    .rating .content .description {
      font-size: 14px;
      text-align: justify; }
    .rating .content .list-options {
      border-top: 1px solid #cecece;
      padding-top: 8px;
      padding-bottom: 0px; }
      .rating .content .list-options a {
        font-size: 14px;
        font-weight: bold;
        margin-right: 10px;
        text-transform: uppercase; }
        .rating .content .list-options a i {
          margin-right: 4px; }

footer {
  background: #31b0d5;
  padding-top: 10px;
  padding-bottom: 10px; }
  footer p {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;
    text-align: center; }

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  background: #31b0d5;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }
  .cd-top i {
    font-size: 22px;
    color: #fff;
    margin-top: 8px !important; }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out,
  .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  .cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
    text-align: center; }
  .cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5; }
  .no-touch .cd-top:hover {
    background-color: #1c0f0f;
    opacity: 1; }

.sessao-perfil {
  margin-top: 10px;
  margin-bottom: 40px; }
  .sessao-perfil .panel {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .sessao-perfil .well {
    margin-top: -20px;
    background-color: #31b0d5;
    border: 2px solid #2da5c7;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
    float: left;
    transition: all 0.3s ease-in-out;
    color: #fff; }
    .sessao-perfil .well i {
      margin-right: 6px; }
  .sessao-perfil .bg_blur {
    height: 300px;
    background-size: cover !important;
    background-position: center !important; }
  .sessao-perfil #btn-muda-foto {
    position: absolute;
    top: 27px;
    left: -81px;
    background: #31b0d5;
    border-radius: 0px;
    color: #fff;
    transition: all 0.3s !important; }
    .sessao-perfil #btn-muda-foto i {
      margin-right: 6px; }
    .sessao-perfil #btn-muda-foto:hover, .sessao-perfil #btn-muda-foto:focus {
      background: #2da5c7; }
    @media screen and (max-width: 780px) {
      .sessao-perfil #btn-muda-foto {
        left: 50% !important;
        top: -150px !important;
        transform: translateX(-50%) !important; } }
  .sessao-perfil .follow_btn {
    text-decoration: none;
    position: absolute;
    left: 16%;
    top: 30.5%;
    width: auto;
    min-width: 40%;
    height: 15%;
    background-color: #31b0d5;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    border: 4px solid #31b0d5;
    transition: all 0.3s ease-in-out; }
    .sessao-perfil .follow_btn.new-post {
      top: 54% !important; }
      @media screen and (max-width: 780px) {
        .sessao-perfil .follow_btn.new-post {
          left: 30% !important;
          top: 30.5% !important; } }
    @media screen and (max-width: 780px) {
      .sessao-perfil .follow_btn {
        left: 30% !important;
        top: 10.5% !important; } }
  .sessao-perfil .follow_btn:hover {
    border: 4px solid rgba(255, 255, 255, 0.8); }
  .sessao-perfil .header {
    color: #808080;
    margin-left: 10%;
    margin-top: 70px; }
    .sessao-perfil .header h2 {
      font-size: 24px; }
    .sessao-perfil .header p {
      font-weight: bold; }
  .sessao-perfil .picture {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 75px;
    left: -75px; }
    @media screen and (max-width: 780px) {
      .sessao-perfil .picture {
        top: -93px !important;
        left: 50% !important;
        transform: translateX(-50%) !important; } }
  @media (max-width: 767px) {
    .sessao-perfil .header {
      text-align: center;
      margin-left: -3% !important;
      padding-bottom: 30px !important; }
    .sessao-perfil .nav {
      margin-top: 30px; } }

.modal-novo-post .modal-title {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
  letter-spacing: 1px; }

.modal-novo-post label {
  font-weight: bold;
  color: #31b0d5; }

.modal-novo-post input:focus,
.modal-novo-post textarea:focus {
  border-color: #31b0d5 !important; }

.modal-novo-post .btn {
  cursor: pointer;
  background: #31b0d5;
  color: #fff;
  border-radius: 0px;
  transition: all 0.3s ease-in-out; }
  .modal-novo-post .btn:hover, .modal-novo-post .btn:focus {
    background: #333 !important; }
  .modal-novo-post .btn i {
    margin-right: 6px; }

.loading-content {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
  z-index: 10000;
  display: none; }
  .loading-content .cssload-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; }
  .loading-content .cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; }
    .loading-content .cssload-inner.one {
      left: 0%;
      top: 0%;
      animation: cssload-rotate-one 1.15s linear infinite;
      -o-animation: cssload-rotate-one 1.15s linear infinite;
      -ms-animation: cssload-rotate-one 1.15s linear infinite;
      -webkit-animation: cssload-rotate-one 1.15s linear infinite;
      -moz-animation: cssload-rotate-one 1.15s linear infinite;
      border-bottom: 3px solid black; }
    .loading-content .cssload-inner.two {
      right: 0%;
      top: 0%;
      animation: cssload-rotate-two 1.15s linear infinite;
      -o-animation: cssload-rotate-two 1.15s linear infinite;
      -ms-animation: cssload-rotate-two 1.15s linear infinite;
      -webkit-animation: cssload-rotate-two 1.15s linear infinite;
      -moz-animation: cssload-rotate-two 1.15s linear infinite;
      border-right: 3px solid black; }
    .loading-content .cssload-inner.three {
      right: 0%;
      bottom: 0%;
      animation: cssload-rotate-three 1.15s linear infinite;
      -o-animation: cssload-rotate-three 1.15s linear infinite;
      -ms-animation: cssload-rotate-three 1.15s linear infinite;
      -webkit-animation: cssload-rotate-three 1.15s linear infinite;
      -moz-animation: cssload-rotate-three 1.15s linear infinite;
      border-top: 3px solid black; }

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@-o-keyframes cssload-rotate-one {
  0% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@-ms-keyframes cssload-rotate-one {
  .loading-content 0% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  .loading-content 100% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@-moz-keyframes cssload-rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@-o-keyframes cssload-rotate-two {
  0% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@-ms-keyframes cssload-rotate-two {
  .loading-content 0% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  .loading-content 100% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@-moz-keyframes cssload-rotate-two {
  0% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

@-o-keyframes cssload-rotate-three {
  0% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

@-ms-keyframes cssload-rotate-three {
  .loading-content 0% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  .loading-content 100% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

@-moz-keyframes cssload-rotate-three {
  0% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }
  .loading-content.show {
    display: block; }
